@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

a:link {
    color: #a0a0a0;
    text-decoration: none;
}

a:visited {
    color: #a0a0a0;
    text-decoration: none;
}

a:hover {
    background-color: #a0a0a0;
    color: #ffffff;
}

a:active {
    color: #363636;
}

div {
    height: 80%;
    width: 60%;
    padding-top: 10%;
    padding-left: 20%;

}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #363636
}